.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fl{float:left;}
.cl{clear: both;}

.context-scope-red {margin: 1px;border: 2px dashed red;padding: 1px;}
.context-scope-blue {margin: 1px;border: 2px dashed blue;padding: 1px;}
.context-scope-purple {margin: 1px;border: 2px dashed purple;padding: 1px;}
.context-scope-orange {margin: 1px;border: 2px dashed orange;padding: 1px;}
.context-scope-yellow {margin: 1px;border: 2px dashed yellow;padding: 1px;}
.context-scope-green {margin: 1px;border: 2px dashed green;padding: 1px;}
.context-scope-none {margin: 1px;border: 1px solid black;padding: 1px;}
